# Builds and pushes docker images on main and tags

name: Deploy
on:
  push:
    branches:
      - 'main'
      - '2.27.x'
      - '2.28.x'
    tags:
      - '*'
jobs:
  build:
    name: Build and publish to github packages
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        submodules: recursive
    - name: Setup Java
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '21'
        cache: 'maven'

    - name: Deploy to github packages maven repo
      run: |
        make deploy
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Remove project jars from cached repository
      run: |
        rm -rf ~/.m2/repository/org/geoserver
        find ~/.m2/repository -name "*SNAPSHOT*" -type d | xargs rm -rf {}
